{
  "env": {
    "test": {
      "presets": [
        "es2015",
        "stage-0"
      ],
      "plugins": [
        "add-module-exports",
        "__coverage__",
        "transform-runtime"
      ],
      "comments": false
    },
    "production": {
      "presets": [
        "es2015",
        "stage-0"
      ],
      "plugins": [
        "add-module-exports",
        "transform-runtime"
      ],
      "comments": false
    }
  }
}
